# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac
**.DS_Store
**.PBSyncDB

# Output
tmp
results

# Compilation outputs
mccExcludedFiles.log
readme.txt
requiredMCRProducts.txt
motion_compensation
run_motion_compensation.sh
code/external/deepmatching_1.2.2_c++_linux/deepmatching
code/external/deepmatching_1.2.2_c++_mac/deepmatching

